/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');



/* VARIABLES */
:root{
    --primary-color:#00CED1;
    --dark-color:#0F0F0F;
    --gray-color:gray;

    --h1-font-size:40px;
    --h2-font-size:32px;
    --small-font-size:15px;
}



/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
}

a{
   text-decoration: none;     
}



/* GLOBAL CSS */
section{
    padding: 70px 0px;
}

section .section-title{
    font-size: var(--h2-font-size);
    font-weight: bold;
    text-transform:uppercase;

}

.btn-orange{
    background-color: var(--primary-color);
    color: white;
}

.btn-orange:hover{
    background-color: salmon;
    color: red;
}

.text-orange{
    color: var(--primary-color);
}

.text-dark{
    color: var(--dark-color);
}

.fs-7{
    font-size: var(--small-font-size);
}

.form-control:focus{
    box-shadow :none;
    border-color : var(--primary-color);
}




/* CSS PER SECTION */

/* NAVBAR */

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active{
    color:var(--primary-color)
}

.header-section .header-section{
    font-size: var(--h1-font-size);
}

.header-section .header-skill{
    color: black;
}

.header-section .header-skill:hover{
    color:var(--primary-color);
}

.header-section .header-skill i{
    transition: .3s;
}

.header-section .header-skill:hover i{
    transform: rotate(-45deg);
}

.header-section .header-img, .skills-section .skills-img{
    width: 65%;
}



/* PORTOFOLIO */
.portofolio-section .card .card-img-top{
    height: 240px;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px){
    .portofolio-section .card .card-img-top{
        height: 100px;
    }
}


/* SKILL */
.skills-section, footer{
    background-color: #D5FFFB;
}

.skills-section .progress-bar {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: var(--gray-color);
}

.skills-section .progress-bar .progress{
    background-color: yellow;
}